NAEURAL_PEM_FILE= #NB: this config is necessary only in local build, build on nodes already has this env

DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_NAME=
    
JWT_KEYSEED_HEX=
JWT_SECRET=
JWT_CONFIRM_SECRET=

MAIL_API_KEY=
MAIL_USERNAME=
MAIL_PASSWORD=

SUMSUB_APP_TOKEN=
SUMSUB_SECRET_KEY=
SUMSUB_JWT_SECRET_KEY=

EMAIL_TEMPLATES_PATH="./templates/html/"